.cart{
	padding: 0 0 40px 0;
	display: table;
	width: 100%;
	@include res(m){
		display: block;
	}
}

//cart-header
.cart-header{
	@extend %grey-small;
	display: table-row;
	@include res(m){
		display: none;
	}

	div{
		display: table-cell;
		padding: 0 10px 10px 10px;
		border-bottom: 1px solid $grey-light;
	}
}
//cart-header


//cart-item
.cart-item-cell{
	vertical-align: top;
	display: table-cell;
	padding: 40px 10px;
	border-bottom: 1px solid $grey-light;
	@include res(m){
		display: block;
		border-bottom: 0;
		padding: 0;
		margin-bottom: 15px;
	}
}

.cart-item{
	display: table-row;
	@include res(m){
		display: block;
		padding: 20px 0 5px 0;
		border-bottom: 1px solid $grey-light;
	}
	&:first-of-type{
		border-top: 1px solid $grey-light;
	}

	&__descr{
		width: 470px;
		@include res(xl){
			width: 370px;
		}
		@include res(l){
			width:300px;
		}
		@include res(m){
			width: 100%;
		}
	}

	&__nal{

		span{
			color: $baklazan;
		}
	}

	&__quantity{
		.quantity{
			position: relative;
			top: -5px;
			@include res(m){
				top: 0;
			}
		}
	}

	&__delete{
		text-align: right;
		@include res(m){
			text-align: center;
		}
	}
}

.cid-wrap{
	display: flex;
	align-items: flex-start;
	@include res(s){
		flex-direction: column;
	}

	img{
		width: 160px;
		height: auto;
		@include res(xl){
			width: 100px;
		}
		@include res(l){
			width: 50px;
		}
		@include res(m){
			width: 160px;
		}
	}
}

.ci-info{
	padding-left: 20px;
	@include res(s){
		padding-left: 0;
		margin-top: 10px;
	}

	&__name{
		display: block;

		a{
			@extend %link--baklazan-pink;
		}
	}

	&__type{
		display: block;
		color: lighten($grey,20%);
		margin-bottom: 15px;
	}

	&__param{
		display: block;
		color: lighten($grey,20%);

		strong{
			font-weight: normal;
			color: darken($grey,20%);
		}
	}
}

.ci-price{
	white-space: nowrap;
}

.ci-old-price{
	text-decoration: line-through;
	margin-right: 10px;
	white-space: nowrap;
}

.ci-new-price{
	color: $red;
	white-space: nowrap;
}

.ci-delete{
	position: relative;
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid $grey-light;
	border-radius: 50%;
	transition: all 0.3s ease;
	top: -5px;
	@include res(m){
		top: 0;
	}

	&:before,&:after{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -8px;
		width: 16px;
		height: 1px;
		background-color: $red;
		transition: all 0.3s ease;
	}

	&:before{
		transform: rotate(-45deg);
	}

	&:after{
		transform: rotate(45deg);
	}
	
	&:hover{
		background-color: $orange;
		border: 1px solid $orange;
	}

	&:hover:before,&:hover:after{
		background-color: #FFF;
	}

}

.cart-item__mobile-title{
	display: none;
	@include res(m){
		display: inline-block;
		margin-right: 10px;
		color: lighten($grey,20%);
	}
}
//cart-item


//cart-footer
.cart-footer{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $grey-light;
	@include res(m){
		flex-direction: column;
	}
}

.coupon-block{
	background-color: lighten($grey-light,17%);
	padding: 13px;
	border-radius: 3px;
	width: 520px;
	display: flex;
	@include res(m){
		width: 100%;
		margin-bottom: 30px;
	}
	@include res(s){
		flex-direction: column;
	}

	input{
		display: inline-block;
		font-size: 12px;
		padding: 10px 15px;
		width: 100%;
		max-width: 280px;
		@include res(s){
			max-width: 100%;
			margin-bottom: 10px;
		}
	}
}

.cart-totals{
	width: 380px;
	padding-left: 20px;
	@include res(m){
		width: 100%;
		padding-left: 0;
	}
}

.cart-total{
	display: flex;
	margin-bottom: 5px;

	&--coupon{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	&--itogo{
		font-size: 23px;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__title{
		width: 170px;
	}

	&__val{
		white-space: nowrap;
		small{
			color: lighten($grey,17%);
		}
	}
}
//cart-footer