.registr-sec{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

	&__reqnote{
		text-align: right;
		color: $pink;
		margin-bottom: 15px;
		@extend %grey-small;
	}

	&__note{
		margin-top: 25px;

		p{
			margin-bottom: 10px;
		}

		a{
			color: $pink;
			@extend %link-hover--pink;
		}

		.login-reg-link{
			display: inline-block;
			border-bottom: 1px dotted $pink;

			&:hover{
				border-bottom: 1px dotted transparent;
			}
		}
	}

	&__optnote{
		margin-bottom: 25px;
		position: relative;

		&:before{
			content: '?';
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 1px solid $grey;
			text-align: center;
			display: inline-block;
			color: $grey;
			line-height: 20px;
			margin-right: 10px;
		}

		a{
			color: $pink;
			@extend %link-hover--pink;
		}
	}
}