.big-sale-sec{
	margin-bottom: 15px;
}

.pop-sales-title{
	text-align: center;
	margin-bottom: 40px;
	padding-top: 45px;
}

.sales-content{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 850px;
	margin-bottom: 40px;
}

.sales-list{
	padding-bottom: 10px;
	border-bottom: 1px solid $grey-light;
}