%grid {
	position: relative;
	min-height: 1px;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

%grey-small{
	font-size: 12px;
	color: $grey;
}

%link-hover--pink{
	transition: all 0.3s ease;
	border-bottom: 1px solid transparent;

	&:hover{
		color: $pink;
		border-bottom: 1px solid $pink;
	}
}

%link-hover--pink-dotted{
	transition: all 0.3s ease;
	border-bottom: 1px dotted transparent;

	&:hover{
		color: $pink;
		border-bottom: 1px dotted $pink;
	}
}

%link--baklazan-dotted{
	transition: all 0.3s ease;
	border-bottom: 1px dotted $baklazan;

	&:hover{
		color: $pink;
		border-bottom: 1px dotted $pink;
	}
}