.btn{
	font-family: $main-font;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	padding: 8px 25px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-appearance: none;

	&:focus{
		outline: none;
	}
}

.btn--big{
	padding: 13px 30px;
}

.btn--baklazan{
	color: $baklazan;
	background-color: transparent;
	border: 1px solid $baklazan;
	border-radius: 10px;
	
	&:hover,&:active{
		background-color: $pink;
		border: 1px solid $pink;
		color: #FFF;
	}
}

.btn--white{
	color: #FFF;
	background-color: transparent;
	border: 1px solid #FFF;
	border-radius: 10px;

	&:hover,&:active{
		background-color: #FFF;
		color: $black;
	}
}

.btn--blue{
	color: #FFF;
	background-color: $blue;
	border: 1px solid $blue;
	border-radius: 10px;

	&:hover,&:active{
		background-color: #67d6ff;
		border: 1px solid #67d6ff;
	}
}