label{cursor: pointer;}

input[type="text"],input[type="tel"],input[type="email"],textarea{
	background-color: #fff;
	font-family: $main-font;
	font-size: 16px;
	line-height: 1;
	border: 1px solid #d1d1d1;
	box-shadow: none;
	padding: 13px 10px;
	border-radius: 3px;
	transition: all 0.3s ease;

	@include placeholder {
		color: #999999;
		opacity: 1;
		transition: all 0.3s ease;
	}

	&:hover{
		border: 1px solid lighten($blue,25%);
	}

	&:focus{
		outline: none;
		border: 1px solid $blue;
		@include placeholder {
			opacity: 0;
		}
	}
}