.hidden{
	display: none;
}

@for $i from 1 through 12 {
	.grid-#{$i} {
		@extend %grid;
		width: 1 / 12 * $i * 100%;
	}
}

@each $breakpoint,$value in $breakpoints {
	@include res($breakpoint){
		@for $i from 1 through 12 {
			.grid-#{$i}_#{$breakpoint} {
				width: 1 / 12 * $i * 100%;
			}
		}
		.hidden_#{$breakpoint}{
			display: none;
		}
		.visible_#{$breakpoint}{
			display: block;
		}
	}
}

.clearfix{
	&:before{
		content: " ";
		display: table;
	}
	&:after{
		content: " ";
		display: table;
		clear: both;
	}
}