.modal-cart{
	width: 700px;
	max-width: 100%;

	header{
		padding: 20px 35px;
		border-bottom: 1px solid $grey-light;
		@include res(s){
			font-size: 12px;
			padding: 20px 20px;
		}

		h4{
			margin-bottom: 10px;
			padding-right: 40px;
			@include res(s){
				font-size: 14px;
			}
		}

		a{
			@extend %link--baklazan-line;
		}
	}

	&__actions{
		padding: 10px 35px;
		background-color: lighten($grey-light,12%);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include res(s){
			padding: 20px 20px;
		}

		.btn{
			margin: 5px 0;
		}
	}

	main{
		padding: 0 35px;
		@include res(s){
			padding: 0 20px;
		}
	}
}

.modal-cart-item{
	padding: 15px 0;
	border-bottom: 1px dotted $grey-light;
	display: flex;
	justify-content: flex-start;

	&:last-child{
		border-bottom: none;
	}

	&__img{

		img{
			display: block;
			width: 100px;
			height: auto;
			@include res(s){
				width: 50px;
			}
		}
	}

	&__info{
		padding: 0 20px;
		@include res(s){
			padding: 0 10px;
		}

		h5{
			margin-bottom: 5px;
			@include res(s){
				font-size: 12px;
			}

			a{
				@extend %link-hover--pink;
			}
		}
	}

	&__param{
		display: block;
		color: $grey;
		white-space: nowrap;
		@include res(s){
			font-size: 12px;
		}
	}

	&__right{
		flex-shrink: 0;
		margin-left: auto;
		text-align: right;
	}

	&__price{
		display: block;
		font-size: 18px;
		font-weight: bold;
		white-space: nowrap;
		@include res(s){
			font-size: 14px;
		}
	}
	
	&__num{
		color: $grey;
		white-space: nowrap;
		@include res(s){
			font-size: 12px;
		}
	}
}